---
import { ImageBlock } from '../blocks/ImageBlock';
import { ResponsiveImage } from '../ResponsiveImage';
import { type FragmentOf, readFragment } from '~/lib/datocms/graphql';
import { Title } from '../Title';
import { Button, Modal, ModalHeader, ModalBody, ModalFooter } from 'free-astro-components';

const { data } = Astro.props;
//console.log(data.image)

{
  /*

- les items "membre" ouvrent un popup tandis que les autres ("atelier" ou "spectacle") ouvrent une page dédiée.
- le path pour les liens est généré selon le __typename (atelier ou spectacle)
- les items "spectacle" ont une image et un subtitle spécifique pour les vignettes (cardImage, cardSubtitle)

*/
}
var path = '/';
path = data.__typename === 'SpectacleRecord' ? `/spectacle/${data.slug}/` : path;
path = data.__typename === 'AtelierRecord' ? `/atelier/${data.slug}/` : path;
const subtitle = data.__typename === 'MemberRecord' ? data.subtitle : data.cardSubtitle;

const image = data.image ? data.image.responsiveImage : (data.cardImage ? data.cardImage.responsiveImage : null);
console.log("IMAGE",image)
---

<div class="card">
  {data.__typename === 'MemberRecord' ? <a data-modal-trigger={data.slug} /> : <a href={path} />}
  
  <div class="card_image">
    { image ?  <ResponsiveImage data={image} /> : <div class="color"/>}

  </div>
  <div class="content">
    <Title as="h2" class:list={['card_title', 'h2']}>{data.title}</Title>
    <div class="subtitle" set:html={subtitle} />

    {
      data.__typename === 'MemberRecord' && (
        <Modal id={data.slug} class="modal" size="4xl">
          <ModalBody>
            <div class="modal_image" >
             { image && <ResponsiveImage data={data.image.responsiveImage} />}
            </div>
            <Title as="h2" class="h2 modal_title">
              {data.title}{' '}
            </Title>
            <div set:html={data.subtitle} class="modal_subtitle" />
            <div set:html={data.content} class="modal_content" />
          </ModalBody>
        </Modal>
      )
    }
  </div>
</div>

<style>
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
    overflow: hidden;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      .card_image {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  .card_image {
    transition: transform 0.1s ease-in-out;
    overflow: hidden;
    position: relative;
     height:100%;
  }

  .card_image .color{
    background:white;
    width:100%;
    display:block;
    height:100%;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

.card_title {
    color:var(--color-white);
    padding:0;
    margin:0;
  }

  .subtitle :global(p){
    color: var(--color-white);
    font-size: rfs(14px);
    font-weight: 400;
    line-height:normal;
  }
</style>

<style is:global>
  .modal {
    --ac-modal-border-radius: 8px;
    --ac-modal-backdrop-filter: grayscale(50%);
    --ac-modal-background-color: var(--color-cream);
    --ac-spacing-4: 32px;
    --ac-spacing-6: 32px;
    --ac-font-sans: var(--font-sans);
  }
  .modal_title {
    text-transform: uppercase;
    color: var(--color-turquoise) ;
  }
  .modal_subtitle p {
    font-weight: bold;
    color: var(--color-black);
    padding:0;
    margin:0;
  }
  .modal_content p {
    color: var(--color-black) ;
  }

  .modal_image {
    padding-bottom: 16px !important;
  }
</style>
